<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">

    <title>Fetal Arc</title>

    <!-- Bootstrap core CSS -->
    <link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/templatemo-chain-app-dev.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/animated.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='assets/css/owl.css')}}">

  </head>

<body>

  <!-- ***** Preloader Start ***** -->
  <div id="js-preloader" class="js-preloader">
    <div class="preloader-inner">
      <span class="dot"></span>
      <div class="dots">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
  </div>
  <!-- ***** Preloader End ***** -->

  <!-- ***** Header Area Start ***** -->
  <header class="header-area header-sticky wow slideInDown" data-wow-duration="0.75s" data-wow-delay="0s">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <nav class="main-nav">
            <!-- ***** Menu Start ***** -->
            <ul class="nav">
              <li class="scroll-to-section"><a href="index.html" class="active">Home</a></li>
              <li class="scroll-to-section"><a href="fetal_birthweight.html">Fetal Birth Weight</a></li>
              <li class="scroll-to-section"><a href="fetalhc_opt.html">Fetal Health</a></li>
              <li class="scroll-to-section"><a href="#about">About</a></li>
              <li class="scroll-to-section"><a href="#"><p style="color:white;">About</p></a></li>
            </ul>        
            <a class='menu-trigger'>
                <span>Menu</span>
            </a>
            <!-- ***** Menu End ***** -->
          </nav>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->

  <div class="main-banner wow fadeIn" id="top" data-wow-duration="1s" data-wow-delay="0.5s">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="row">
            <div class="col-lg-6 align-self-center">
              <div class="left-content show-up header-text wow fadeInLeft" data-wow-duration="1s" data-wow-delay="1s">
                <div class="row">
                  <div class="col-lg-12">
                    <h2>FETAL ARC</h2>
                    <p>Taking care of your fetus - from GOOD NEWS to DELIVERY.
                      <br>Predicting Fetal Health, and Birth-Weight of fetus using Machine Learning.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="right-image wow fadeInRight" data-wow-duration="1s" data-wow-delay="0.5s">
                <img src="{{url_for('static',filename='assets/images/slider-dec.png')}}" alt="">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="pricing" class="pricing-tables">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>We Have Robust and Easy to use <em>SERVICES</em> for fetal health</h4>
            <img src="{{url_for('static',filename='assets/images/heading-line-dec.png')}}" alt="">
            <p>Pregnancy is most beautiful phase of women's life. Healthy Pregnancy leads to Healthy Baby.</p>
          </div>
        </div>
        

        <div class="col-lg-4 offset-lg-2">
          <div class="pricing-item-regular">
            <h4>Know the Fetal Birth Weight estimation (in kgs)</h4>
            <div class="icon">
              <img src="{{url_for('static',filename='assets/images/baby-weight.jpg')}}" alt="">
            </div>
            <ul>
              <li>UNDERWEIGHT: An issue</li>
              <li>OVERWEIGHT: An issue</li>
              <li>Underweight or Overweight of baby causes complications and increased risk of injuries during delivery.</li>
              <li>So make sure to check birth weight beforehand.</li>
            </ul>
            <div class="border-button">
              <a href="fetal_birthweight.html">Proceed</a>
            </div>
          </div>
        </div>

        <div class="col-lg-4">
          <div class="pricing-item-regular">
            <h4>Fetal Health (Normal/ Suspect/ Pathological)</h4>
            <div class="icon">
              <img src="{{url_for('static',filename='assets/images/fetus.jpg')}}" alt="">
            </div>
            <ul>
              <li>NORMAL: All parameters are in desired range.</li>
              <li>SUSPECT: One of the parameters is abnormal. Need for fetal tests.</li>
              <li>PATHOLOGICAL: More than one parameters are abnormal. Need for contingency plan.</li>
              <li>So make sure to check fetal health beforehand.</li>
            </ul>
            <div class="border-button">
              <a href="fetalhc_opt.html">Proceed</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div> 

  <footer id="about">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 offset-lg-2">
          <div class="section-heading">
            <h4>ABOUT US</h4>
          </div>
        </div>
        <div class="col-lg-6 offset-lg-3">
          <p style="color:white; text-align: justify;">
            Pregnancy is the privilege of experiencing God's miracles on earth. "in my flesh shall I see God". 
            Nowhere is this more apparent than in the experience of a pregnancy. Science has made it possible to witness the baby's growth on a sonogram. 
            Once you see that, there's no turning back. Watching and feeling this little miracle grow inside you, 
            knowing that one day you will hold this child in your hands is one of the greatest gifts that can be experienced.
            <br><br>But it isn't so sweet always. According to WHO, one million babies die within 24 hours
            of birth due to premature birth and complications
            during birth. Also, around 810 women die each day
            during delivery or soon after delivery. This really
            causes the need to take care of fetus with utmost
            priority. Fetal Arc is small initiative to take care of 
            fetal health. It provides services like Birth-Weight prediction and 
            fetal health classification using machine learning algorithms to make sure that these 
            moments of your life are the best and still sweet.
          </p>
      </div>
        <div class="col-lg-12">
          <div class="copyright-text">
            <p>Copyright © 2021 Simran. All Rights Reserved. 
              (RollNo: MT21146 | IIITD | email: simran21146@iiitd.ac.in)</p>
          </div>
        </div>
      </div>
    </div>
  </footer>


  <!-- Scripts -->
  <script src="{{url_for('static',filename='vendor/jquery/jquery.min.js')}}"></script>
  <script src="{{url_for('static',filename='vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{url_for('static',filename='assets/js/owl-carousel.js')}}"></script>
  <script src="{{url_for('static',filename='assets/js/animation.js')}}"></script>
  <script src="{{url_for('static',filename='assets/js/imagesloaded.js')}}"></script>
  <script src="{{url_for('static',filename='assets/js/popup.js')}}"></script>
  <script src="{{url_for('static',filename='assets/js/custom.js')}}"></script>
</body>
</html>